@model Blog

@{
    ViewData["Title"] = "Create";
    IEnumerable<CourseCategory> categories = ViewBag.Categories;
    SelectList selectListCategory = new SelectList(categories, nameof(CourseCategory.Id), nameof(CourseCategory.Name));
    IEnumerable<Tag> tags = ViewBag.Tags;
    SelectList selectListTag = new SelectList(tags, nameof(Tag.Id), nameof(Tag.Name));
}



<h4>Create Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="ImageFile" class="form-label">Blog image</label>
                <input asp-for="ImageFile" accept="image/*" class="form-control">
                <span class="mt-2 text text-danger" asp-validation-for="ImageFile"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuatoDescrpt" class="control-label"></label>
                <input asp-for="QuatoDescrpt" class="form-control" />
                <span asp-validation-for="QuatoDescrpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagIds" class="control-label"></label>
                <select asp-for="TagIds" class="form-control" asp-items="selectListTag"></select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCategoryId" class="control-label"></label>
                <select asp-for="CourseCategoryId" class="form-control" asp-items="selectListCategory"></select>
                <span asp-validation-for="CourseCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section script{
    @await Html.PartialAsync("_ValidationPartial")
}