
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Course>

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="searchCategory" action="#">
                        <input class="searchInput" type="text" placeholder="Search..." name="search" />
                        <button  type="submit">search</button>
                    </form>
                    <ul class="searchList" id="searcPar" style="background-color:white;z-index:123;width:60%;height:auto;text-decoration:none;border:1px solid;position:absolute;">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            @await Html.PartialAsync("_CoursePartialView", Model)

        </div>
    </div>
</div>
<!-- Course End -->
